create database [StokTakip]
go
USE [StokTakip]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](max) NULL,
	[KategoriAciklamasi] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [varchar](50) NULL,
	[KategoriAciklamasi] [varchar](max) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NULL,
	[KullaniciSifre] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Adi] [nvarchar](max) NULL,
	[Soyadi] [nvarchar](max) NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Kullanici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Marka]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [nvarchar](max) NULL,
	[MarkaAciklamasi] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Marka] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Markalar]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Markalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAdi] [varchar](50) NULL,
	[MarkaLogo] [varchar](100) NULL,
	[MarkaAciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_Markalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Urun]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urun](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
	[UrunAdi] [nvarchar](max) NULL,
	[UrunAciklamasi] [nvarchar](max) NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[UrunFiyati] [decimal](18, 2) NOT NULL,
	[Kdv] [int] NOT NULL,
	[StokMiktari] [int] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Urun] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 15.11.2020 18:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Urunler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
	[UrunAdi] [varchar](50) NOT NULL,
	[UrunFiyati] [money] NOT NULL,
	[KdvMiktari] [int] NOT NULL,
	[UrunAciklamasi] [nvarchar](max) NULL,
	[UrunKodu] [varchar](50) NULL,
	[Barkod] [varchar](50) NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

GO
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [KategoriAciklamasi]) VALUES (1, N'Elektronik', NULL)
GO
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [KategoriAciklamasi]) VALUES (2, N'Kozmetik', NULL)
GO
INSERT [dbo].[Kategoriler] ([Id], [KategoriAdi], [KategoriAciklamasi]) VALUES (3, N'Telefon', NULL)
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

GO
INSERT [dbo].[Kullanici] ([Id], [KullaniciAdi], [KullaniciSifre], [Email], [Adi], [Soyadi], [Aktif]) VALUES (1, N'admin', N'123456', N'mesut@posta.la', N'Mesut', N'Ilıca', 1)
GO
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Markalar] ON 

GO
INSERT [dbo].[Markalar] ([Id], [MarkaAdi], [MarkaLogo], [MarkaAciklama]) VALUES (1, N'Samsung', NULL, NULL)
GO
INSERT [dbo].[Markalar] ([Id], [MarkaAdi], [MarkaLogo], [MarkaAciklama]) VALUES (2, N'Apple', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Markalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

GO
INSERT [dbo].[Urunler] ([Id], [KategoriId], [MarkaId], [UrunAdi], [UrunFiyati], [KdvMiktari], [UrunAciklamasi], [UrunKodu], [Barkod]) VALUES (1, 1, 1, N'I phone 12', 8000.0000, 18, NULL, NULL, NULL)
GO
INSERT [dbo].[Urunler] ([Id], [KategoriId], [MarkaId], [UrunAdi], [UrunFiyati], [KdvMiktari], [UrunAciklamasi], [UrunKodu], [Barkod]) VALUES (4, 2, 2, N'I phone 18', 1.0000, 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Kategoriler] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Kategoriler]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Markalar] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markalar] ([Id])
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Markalar]
GO
