@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stok Takip Uygulaması</h1>
    <p class="lead">
        Bu web uygulaması ile stoğunuzdaki ürünleri ve siparişlerinizi kolayca yönetebilirsiniz.
    </p>
    <p><a href="/admin" class="btn btn-primary btn-lg">Yönetim Paneli Girişi &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Ürün Adı</h2>
        <p>
            Buraya anasayfa ürünü gelecek
        </p>
        <p><a class="btn btn-default" href="#">İncele &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Ürün Adı</h2>
        <p>
            Buraya anasayfa ürünü gelecek
        </p>
        <p><a class="btn btn-default" href="#">İncele &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Ürün Adı</h2>
        <p>
            Buraya anasayfa ürünü gelecek
        </p>
        <p><a class="btn btn-default" href="#">İncele &raquo;</a></p>
    </div>

</div>