@model IEnumerable<StokTakip.Entities.Urun>
@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Stok Takip Uygulaması</h1>
    <p class="lead">
        Bu web uygulaması ile stoğunuzdaki ürünleri ve siparişlerinizi kolayca yönetebilirsiniz.
    </p>
    <p><a href="/admin" class="btn btn-primary btn-lg">Yönetim Paneli Girişi &raquo;</a></p>
</div>

<div class="row">

    @foreach (var urun in Model)
    {
        <div class="col-md-4">
            <h2>@urun.UrunAdi</h2>
            <p>
                <img src="~/Img/Urunler/@urun.Resim" alt="Resim yok" class="img-thumbnail" />
            </p>
            <p><a class="btn btn-default" href="/Urun/Detay/@urun.Id">İncele &raquo;</a></p>
        </div>
    }

</div>