body { }

ul#menu { margin: 34px; text-align: center; }

#menu li { /*html elemanlarından ıd si menu olan elemanı seç*/ display: inline; /*display:inline kodu menüdeki elemanları yan yana dizmemizi sağlar*/ padding: 18px; /*sayfadaki menü nün içindeki li elemanlarına iç boşluk verir*/ /* margin: 18px;sayfadaki menü nün içindeki li elemanlarına dış boşluk verir*/ background-color: #eee; /*li lere arkaplan rengi verir*/ }

    #menu li:hover /* sayfadaki menu id li ul nin altındaki li lerin üzerine gelindiğinde bu li nin css özelliklerini  hover kodu ile değiştirebiliriz */ { background-color: #ddd; }

    #menu li a { color: black; /* li lerin içindeki a elemanlarına siyah rengi verir */ text-decoration: none; /* a elemanlarının altındaki çizgiyi yok etmek için */ }

.urunler { text-align: center; margin: 100px auto; }
.ortala { text-align: center; }
/*Bu class ı kullanan elemanların metinleri ortalanır*/
.mauto { margin: auto; }
/*Bu class ı kullanan elemanlar sayfada ortalanır*/
.boyutlar { max-height: 500px; }
footer table td { vertical-align: top; padding: 18px; }/*Sayfadaki footer elementinin altındaki table elementinin altındaki td elementlerinin içeriklerini yukarıya hizala */
